/SyncNotes.Client/obj/Debug/net9.0/compressed/3k8y53hpnd-ahpu4shfey.gz
/SyncNotes.Client/obj/Debug/net9.0/compressed/5xghddliur-35mwqbmo86.gz
/SyncNotes.Client/obj/Debug/net9.0/compressed/llx064sfp8-x4bcju0lzb.gz
/SyncNotes.Client/obj/Debug/net9.0/compressed/m6cm8fqclv-lr5f95mr7i.gz
/SyncNotes.Client/obj/Debug/net9.0/compressed/pmwgc2xqpu-f7b3l94z5q.gz
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Client.ahpu4shfey.pdb
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Client.ahpu4shfey.pdb.gz
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Client.f7b3l94z5q.wasm
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Client.f7b3l94z5q.wasm.gz
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Shared.35mwqbmo86.pdb
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Shared.35mwqbmo86.pdb.gz
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Shared.lr5f95mr7i.wasm
/SyncNotes.Client/bin/Debug/net9.0/wwwroot/_framework/SyncNotes.Shared.lr5f95mr7i.wasm.gz
